{% extends ':frontend:frontend.layout1.html.twig' %}

{% block header %}
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <a href="{{ path('frontend_homepage') }}"><img src="{{ asset('bundles/frontend/regna/img/logo.png') }}"
                                                               alt="" title=""/></a>
                <!-- Uncomment below if you prefer to use a text logo -->
                <!--<h1><a href="#hero">Regna</a></h1>-->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="{{ path('frontend_homepage') }}">Home</a></li>
                    {#<li><a href="#about">About Us</a></li>#}
                    {#<li><a href="#services">Services</a></li>#}
                    {#<li><a href="#portfolio">Portfolio</a></li>#}
                    {#<li><a href="#team">Team</a></li>#}

                    <li><a href="{{ path('activo_fijo_index') }}">Activos</a></li>
                    <li><a href="#">Sobrantes</a></li>
                    <li><a href="#">Responsables</a></li>
                    <li><a href="{{ path('apunte_index') }}">Apuntes</a></li>
                    <li class="menu-has-children">
                        <a href="#"> Informes </a>
                        <ul>
                            <li><a href="{{ path('activo_fijo_filter') }}">Filtro</a></li>
                            <li><a href="#">Deep Drop Down 3</a></li>
                            <li><a href="#">Deep Drop Down 4</a></li>
                        </ul>
                    </li>

                    {% if app.user is not null %}
                        <li class="menu-has-children" title="{{ app.user }}">
                            <a href="#">
                                {{ app.user [:25] }}
                            </a>
                            <ul>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="{{ path('frontend_security_logut') }}">Salir</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ path('frontend_security_login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->
{% endblock %}
