{% extends 'BackendBundle:Layout:backend.html.twig' %}

{% block wrapper %}

    <div class="col-lg-6">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success mt-10" type="submit" value="{{ 'crud.create' | trans }}"/>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block footer %}
    <ul class="list-inline">
        <li>
            <a class="btn btn-primary" href="{{ path(router['index']) }}">{{ 'crud.list' | trans }}</a>
        </li>
    </ul>
{% endblock %}