{% extends ":backend:backend.layout2.header.html.twig" %}

{% block backend_aside %}
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MENÚ</li>
                <!-- Optionally, you can add icons to the links -->
                <li class="{% block dashboard_active %}{% endblock %}">
                    <a href="{{ path('backend_homepage') }}">
                        <i class="fa fa-link"></i> <span>Dashboard</span>
                    </a>
                </li>

                <li class="treeview {% block li_configuracion_tree_active %}{% endblock %}">
                    <a href="#"><i class="fa fa-list"></i> <span>Configuración</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% block li_estado_all_active %}{% endblock %}">
                            <a href="{{ path('estado_index') }}"><i class="fa fa-arrow-right"></i> <span>Estado</span></a>
                        </li>
                        <li class="{% block li_local_all_active %}{% endblock %}">
                            <a href="{{ path('local_index') }}"><i class="fa fa-arrow-right"></i> <span>Local</span></a>
                        </li>
                        <li class="{% block li_tipo_activo_all_active %}{% endblock %}">
                            <a href="{{ path('tipo_activo_index') }}"><i class="fa fa-arrow-right"></i> <span>Tipo de Activo</span></a>
                        </li>
                        <li class="{% block li_tipo_resultado_all_active %}{% endblock %}">
                            <a href="{{ path('tipo_resultado_index') }}"><i class="fa fa-arrow-right"></i> <span>Tipo de Resultado</span></a>
                        </li>
                        <li class="{% block li_responsable_all_active %}{% endblock %}">
                            <a href="{{ path('responsable_index') }}"><i class="fa fa-arrow-right"></i> <span>Responsable</span></a>
                        </li>
                        <li class="{% block li_usuario_all_active %}{% endblock %}">
                            <a href=""><i class="fa fa-arrow-right"></i> <span>Usuario</span></a>
                        </li>
                        <li class="{% block li_rol_all_active %}{% endblock %}">
                            <a href="{{ path('rol_index') }}"><i class="fa fa-arrow-right"></i> <span>Rol</span></a>
                        </li>
                    </ul>
                </li>

                <li class="treeview {% block li_revision_tree_active %}{% endblock %}">
                    <a href="#"><i class="fa fa-list"></i> <span>Revisiones</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% block li_revision_all_active %}{% endblock %}">
                            <a href=""><i class="fa fa-arrow-right"></i> <span>Revisión</span></a>
                        </li>
                        <li class="{% block li_metadata_all_active %}{% endblock %}">
                            <a href=""><i class="fa fa-arrow-right"></i> <span>Metadata</span></a>
                        </li>
                        <li class="{% block li_auditoria_all_active %}{% endblock %}">
                            <a href=""><i class="fa fa-arrow-right"></i> <span>Auditoría</span></a>
                        </li>
                    </ul>
                </li>

            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
{% endblock %}


