{% extends 'BackendBundle:Nomenclature:index.html.twig' %}

{% block li_revision_tree_active %} active {% endblock %}
{% block li_auditoria_all_active %} active {% endblock %}

{% block wrapper %}

    <table class="table table-striped table-bordered dtable" cellspacing="0" width="100%">
        <thead>
        <tr>
            {% for key, filter in viewParams.entityKeys %}
                <th>{{ attribute(attribute(display, key), 'trans') }}</th>
            {% endfor %}
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% if viewParams.hasEl %}
                {% set entityAny = entity.any %}
            {% endif %}
            <tr>
                {% for key, filter in viewParams.entityKeys %}
                    {% if util.equals(filter, 'date') %}
                        <td>{{ attribute(entity, key) | date('Y-m-d:h:i:s') }}</td>
                    {% elseif util.equals(filter, 'bool') %}
                        <td>{% if attribute(entity, key) %} Yes {% else %} No {% endif %}</td>
                    {% else %}
                        <td>{{ attribute(entity, key) }}</td>
                    {% endif %}
                {% endfor %}

                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path(router['show'], { 'id': attribute(entity, 'id') }) }}"
                               title="{{ 'crud.info' | trans }}">
                                <i class="glyphicon glyphicon-search"></i>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block footer %} {% endblock %}